:root {
    --gap: 10px;
    --gap-double: calc(var(--gap) * 2);

    --bg-main: #212121;
    --bg-secondary: linear-gradient(to top, #00154c, #12376e, #23487f);

    --overlay-color: rgba(0, 0, 0, 0.5);

    --shadow-main: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%);
    --shadow-main-inset: inset 0px 0px 0px #0e0e0e, inset 0px 0px 0px #5f5e5e;

    --radius-main: 10px;
}